body {
    font-family: Arial;
    background: #f5f5f5;
}

.profile-container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: green;
    color: white;
    border: none;
}

.profile-image {
    text-align: center;
    margin-bottom: 15px;
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}